

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
    background: blue;
  }
  */

  
.wrapper{
    margin-top: 2%;
}

.wrapper h1{
    font-family: 'Brush Script MT', Brush Script Std, cursive;
    font-size: 4em;
    color: #2e7378;
    margin-bottom: 50px;
    text-align: center; 
    background-color: silver;  
    margin-top: 50 px; 
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.group{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.group .group_member{
    background: #2e7378;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px; 
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;

}

.group .group_member h3{
    font-family: 'Brush Script MT', Brush Script Std, cursive;
    color: beige;
    font-size: 40px;
    margin-top: 5px; 
    margin-bottom: 10px;


}



.group .group_member p.role{
    color: silver;
    font-size: 20px;
    text-transform: uppercase;
    margin: 12 px 0;
    margin-top: 20px;
    margin-bottom: 10px;

}

.group .group_member .team_img{
    width: 250px;
    height: 120px; 
    border-radius: 100%;
    /* position: absolute; */
    position: relative;
}

.group .group_member .team_img img{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}
