.body{
        width: 100%;
        height: 250px;
        display: inline-block;
        text-align: center;
        justify-content: center;
        align-content: center;
        background-color: beige;  
        margin: auto;
}


.body2{
    width: 100%;
    height: 250px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #70deea;  
    margin: auto;
}

.profile{
    color:beige;
}

.profile2{
    color:#70deea;
}
